<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.chacezanaty.timesheet</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/chacezanaty/Documents/auto_schedule_time_sheet/.venv/bin/python</string>
        <string>/Users/chacezanaty/Documents/auto_schedule_time_sheet/auto_timesheet_entry.py</string>
    </array>
    <key>StartCalendarInterval</key>
    <dict>
        <key>Hour</key>
        <integer>10</integer>
        <key>Minute</key>
        <integer>0</integer>
    </dict>
    <key>StandardOutPath</key>
    <string>/Users/chacezanaty/Documents/auto_schedule_time_sheet/timesheet.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/chacezanaty/Documents/auto_schedule_time_sheet/timesheet.error.log</string>
    <key>WorkingDirectory</key>
    <string>/Users/chacezanaty/Documents/auto_schedule_time_sheet</string>
</dict>
</plist> 